
  <form action="/dashboard/addmuseum" method="POST">
    <div class="field">
      <label class="label">Museum Title</label>
      <input class="input" type="text" placeholder="Enter museum title" name="title">
    </div>
    <button class="button is-link">Add Museum</button>
  </form>
